.hContainer {
    width: 100%;
    min-height: 100vh;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.hotelHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #41522E;
}

.hotelHeader h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.hotelWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

.logOut {
    display: flex;
    width: 75px;
    height: 24px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.logOut img {
    width: 18px;
    height: 18px;
}

.logOut:hover {
    background-color: rgba(203, 197, 197, 0.22);
    border-radius: 4px;
}
.inputContainer {
    max-height: max-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputDescription {
    width: 92%;
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
    margin: 7px 0px;
}
.carouselContainer{
    display: flex;
    width: 100%;
}


