.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text {
    font-weight: 500;
    width: 300px;
    font-size: 32px;
    line-height: 37px;
    color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.date{
    width: 200px;
}