.loginContainer {
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.34);
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #424242;
}


.form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.inputContainer, .inputEmailError, .inputPasswordError {
    font-size: 17px;
    position: static;
    max-height: max-content;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.inputDescription {
    display: flex;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #424242;
    margin: 7px 0;
}

.loginButton {
    margin-top: 32px;
    border: 0;
    cursor: pointer;
    appearance: none;
    outline: none;
    width: 345px;
    min-height: 50px;
    background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    position: static;
}

button::-moz-focus-inner {
    border: 0;
}

.errorMessage {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: #EB1717;
    display: flex;
}

.inputEmailError .inputDescription, .inputPasswordError .inputDescription {
    color: #EB1717;
}

.inputEmailError input, .inputPasswordError input {
    border: 1px solid red;
    color: red;
}


.disabledButton {
    margin-top: 10px;
    border: 0;
    cursor: pointer;
    min-height: 50px;
    appearance: none;
    outline: none;
    width: 345px;
    height: 50px;
    background: linear-gradient(104.34deg, #1b2514 -15.34%, #52370e 145.95%);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}